body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(139, 202, 243);
}
.content {
    background-color: rgb(58, 175, 221);
    width: 300px;
    padding: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}
.content h1 {
    text-transform: uppercase;
}
